* {
    margin: 0;
    padding: 0;
    
    font-family: 'Red Hat Display', sans-serif;
}

body {
    min-height: 100vh;
    
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(225, 100%, 94%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;
}

.card {
    max-width: 450px;
    
    background-color: white;
    border-radius: 20px;
}

.card-image {
    border-radius: 20px 20px 0 0;
    
    object-fit: contain;
}

.card-body {
    display: inline-block;
    
    margin-right: 48px;
    margin-left: 48px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.card-title, .card-description {
    margin-bottom: 24px;
    
    text-align: center;
}

.card-title {
    font-weight: 900;
    color: #22345c;
}

.card-description {
    color: hsl(224, 23%, 55%);
}

.chosen-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    
    margin-bottom: 32px;
    padding-top: 25px;
    padding-bottom: 25px;
    
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}

.item {
    flex-grow: 1.5;
}

h2 {
    font-size: 20px;
    color: #22345c;
}

.chosen-plan a {
    margin-right: 24px;
    
    font-size: 16px;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
}

.chosen-plan a:hover {
    color: #766cf1;
}

.chosen-plan img {
    margin-left: 24px;
}

.desktop-buttons {
    display: block;
}

.mobile-buttons {
    display: none;
}

.primary-button {
    display: block;
    
    width: 100%;
    
    margin-bottom: 8px;
    padding: 15px 64px;
    
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    border: none;
    
    font-size: 16px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;

    filter: drop-shadow(0 16px 10px #d8d7f7);
    cursor: pointer;    
}

.primary-button:hover {
    background-color: #766cf1;
}

.secondary-button {
    display: block;
    
    width: 100%;
    
    margin-left: auto;
    margin-right: auto;
    padding: 15px 32px;
    
    background-color: white;
    border-radius: 10px;
    border: none;
    
    font-size: 16px;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    text-align: center;
    text-decoration: none;

    cursor: pointer;
}

.secondary-button:hover {
    color: #22345c;
}

@media only screen and (max-width: 600px) {
    body {
      background-image: none;
      background-color: #ffffff;
    }

    .container{
        justify-content: start;
    }

    .card {
        width: 100%;
    }

    .card-image {
        width: 100%;
        border-radius: 0 0 0 0;
    }

    .card-body {
        display: block;
        
        margin-right: 16px;
        margin-left: 16px;
    }

    .chosen-plan {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .item h2 {
        font-size: 16px;
    }

    .desktop-buttons {
        display: none;
    }
    
    .mobile-buttons {
        display: block;
        margin-top: auto;
    }
}